package: com.moe.lana
Name: Lana
Version: 21-1
Architecture: iphoneos-arm
Description:Made for lana
Author: Moe
Maintainer: Moe
Section: Themes
Depends: com.anemonetheming.anemone | com.spark.snowboard
